{% extends 'base.backoffice.html.twig' %}

{% block title %}Backoffice{% endblock %}

{% block body %}
    <h1>Tableau de bord</h1>


    <div class="container">
        <div class="row">
            <div class="card col-xl col-md">
                <div class="card-header">
                    <div class="card-body">
                        <table class="table">
                            <thead>
                            <tr>

                                <th scope="col"></th>
                                <th>nom </th>
                                <th> prenom </th>
                                <th> adresse</th>
                                <th>email </th>
                                <th>postalCode </th>

                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>



    </div>

{% endblock %}
