{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
{{ form_start(form) }}
    {{ form_label(form.nom) }}
    {{ form_widget(form.nom) }}
    <button type="submit">envoyer</button>
    {{ form_end(form) }}

{% endblock %}
