{% extends 'base.html.twig' %}

{% block title %} Acceuil {% endblock %}

{% block body %}

    {% for label, messages in app.flashes %}
        <div class="text-center shadow alert alert-{{ label }} font-weight-bold">
            {% for message in messages %}
                <p>{{ message|raw }}</p>
            {% endfor %}
        </div>
    {% endfor %}


{% endblock %}
