{% extends 'base.html.twig' %}

{% block title %} Acceuil {% endblock %}

{% block body %}

    {% for label, messages in app.flashes %}
        <div class="text-center shadow alert alert-{{ label }} font-weight-bold">
            {% for message in messages %}
                <p>{{ message|raw }}</p>
            {% endfor %}
        </div>
    {% endfor %}
<section>
    <div class="row">
    <div class="card col-5 ms-5">66
        <div class="card-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa eos explicabo magnam quasi reprehenderit temporibus!</div>
    </div>
        <div class="card col-5 ms-5">
            <div class="card-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa eos explicabo magnam quasi reprehenderit temporibus!</div>
        </div>
    </div>
</section>

{% endblock %}
